<div class="container page">
  <%= render "onboarding/progress", active: "server_setup" %>
  <div class="onboarding-page">
    <h1 class="onboarding-heading">Launch a Droplet</h1>
    <%= form_for @onboarding, url: setup_droplet_summary_path, method: :post do |f| %>
      <%= render "flash_messages" %>
      <div class="onboarding-page-content">

        <table class="server-option without-borders">

          <tr>

          <td class="option-image align-top">
            <%= image_tag "digital-ocean.png" %>
          </td>

          <td class="option-description">

            <div class="form-group <%= "field_with_errors" if validation_errors?(@onboarding, :digitalocean_region) %>">
              <%= f.label :digitalocean_region, "Select Region" %>
              <%= f.select :digitalocean_region,
                [["Amsterdam", "amsterdam"], ["Singapore", "singapore"],
                 ["New York", "new_york"], ["London", "london"], ["Frankfurt", "frankfurt"]] %>
               <%= validation_errors(@onboarding, :digitalocean_region)  %>
            </div>

            <div class="form-group <%= "field_with_errors" if validation_errors?(@onboarding, :digitalocean_api_key) %>">
              <%= f.label :digitalocean_api_key, "Enter a DigitalOcean Personal Access Token" %>
              <%= f.text_area :digitalocean_api_key %>
              <%= validation_errors(@onboarding, :digitalocean_api_key) %>
            </div>

          </td>

          </tr>

        </table>

      </div>
      <div class="onboarding-buttons">
        <p>On the next step you can confirm the launch of the Droplet.</p>
        <div class="button-options">
          <%= link_to setup_provider_path, class: "cancel-link" do %>
            <%= fa_icon "angle-left fw" %> Back
          <% end %>
          <span class="or">or</span>
          <%= f.button "Continue", class: "btn btn-continue" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
